{% include "header.html" %}

<div class="box">
    {% include "flash_messages.html" %}
    <h1 class="center">Unauthorised</h1>
    <form action={{url_for('access')}} method='post'>
        <div class="login-grid">

            <div class="space-above">
                <label for="code">
                    Code:
                </label>
                </div>
            <div class="space-above">
                <input type="password" id="code" name="code" placeholder="Please enter the code." required
                       maxlength="50">

            </div>
        </div>

            <div class="center">
                <input type="submit" class="btn btn-primary space-above">
            </div>

    </form>


</div>

{% include "footer.html"%}