/* This CSS file will need to be added to the styling of 
your web pages for the styles to be rendered. */

form {
    font-size: 150%;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #5080af;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;

}

.border{
    border: 2px solid;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px;
    background-color: #4eb1b1;
}

.border:hover{
    background-color: white;
    color: black;
}

@media only screen and (max-width: 480px) {
    form{
        font-size: 100%;
    }
    .check-box{
        background-color: blue;
    }


}

.center{
    text-align: center;
}

.space-above {
    margin-top: 20px;
    padding-top: 20px;
}


.login-grid{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
}

.flashed-messages{
    color: red;
}

footer{
    text-align: center;
    margin-top: 50px;
}



footer i{
    font-size: 2rem;
    margin: 0px 10px;
    bottom: 0;
}


@media only screen and (max-width: 768px){
    footer i{
        font-size: 1.5rem;
    }
    footer p{
        font-size: 0.8rem;
    }
    h1 {
        font-size: 0.3rem;
    }
}


