
<div class="space-above">
    <footer>
    <hr>
    <a href="https://www.instagram.com/jun_keat_1002/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com/lee.junkeat.92"><i class="fa-brands fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/jk-lee-aaabb1258/"><i class="fa-brands fa-linkedin-in"></i> </a>
    <p class="copyright text-muted">Copyright &copy; Your Website 2020</p>
    </footer>
</div>



<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
</body>
</html>